body {
    background-color: lightseagreen;
    color: black;
    font-family: 'Lato', Helvetica, sans-serif;
}

h1 {
    font-family: 'Lato', sans-serif;
    color: darkolivegreen;
    font-size: 64px;
}